!!!5
head
  title #{description}
  link(href="css/phonefaker.css", type="text/css", rel="stylesheet")
  // js('phonefaker.coffee')
body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand.clearfix(href="#") Kujua Phone Faker
  .fixed-bottom
    .container
      form.form.form-horizontal.new-message
        button.btn.btn-primary.pull-right.send(type="submit") Send!
        .control-group
          label.control-label kujua-export URL
          .controls
            input.span8.export-url(placeholder="/kujua/_design/kujua-base/_rewrite/add", value="/kujua/_design/kujua-base/_rewrite/add")
        .control-group
          label.control-label Phones
          .controls
            input.inline.span3(placeholder="From", name="from")
            | &nbsp;
            input.inline.span3(placeholder="To", name="sent_to")
        .control-group
          label.control-label Message
          .controls
            input.span8(placeholder="message", name="message")
  #app
