!!!5
head
  title #{description}
  link(href="css/phonefaker.css", type="text/css", rel="stylesheet")
  // js('phonefaker.coffee')
body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand.clearfix(href="#") Kujua Phone Faker
  .fixed-bottom
    .container
      form.form.form-horizontal.new-message
        button.btn.btn-primary.pull-right.btn-large.send(type="submit") Send!
        .control-group
          label.control-label kujua-export URL
          .controls
            input.span4.export-url(placeholder="http://localhost:5984/kujua/_design/kujua-base/_rewrite/add", value="http://localhost:5984/kujua/_design/kujua-base/_rewrite/add")
        .control-group
          label.control-label Phones
          .controls
            input.inline.span3(placeholder="From", name="from")
            | &nbsp;
            input.inline.span3(placeholder="To", name="sent_to")
        .control-group
          label.control-label Message
          .controls
            input.span7(placeholder="message", name="message")
  .container
    h2 Previous messages
    .row
      .span2.offset2
        b From
      .span2
        b To
      .span6
        b Message
    #messages
