@import "bootstrap/bootstrap.less";
@baseFontPath: "../../bootstrap/font/";

body {
  margin: 40px 0 230px;
}

.fixed-bottom {
  .container {
    width: 940px;
  }
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  bottom: 0;
  background-color: #999;
  padding: 10px 0 0;
}

.send {
  cursor: pointer;
}
